.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/webpack-demo/dist/*.js
/webpack-demo/dist/*.css
/webpack-demo/dist/*.png
/webpack-demo/dist/*.eot
/webpack-demo/dist/*.woff2
/webpack-demo/dist/*.woff
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
node_modules/
