.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
**/dist/*.js
**/dist/*.css
**/dist/*.png
**/dist/*.html
**/dist/*.eot
**/dist/*.woff2
**/dist/*.woff
**/dist/*.
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
node_modules/
